[Unit]
Description=gpioneer-reloaded

[Service]
Type=simple
WorkingDirectory=/home/pi/gpioneer-reloaded
ExecStart=/usr/bin/python -u gpioneer-reloaded.py
Restart=on-failure
RestartSec=1
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
